@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,600,600i,700,700i,800,800i,900,900i&display=swap");

/* General Styling */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
