@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,600,600i,700,700i,800,800i,900,900i&display=swap");

/* General Styling */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

a {
  color: #06c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  height: 100%;
}

.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.bold {
  font-weight: 600;
}
