.nav__bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #eee;
  
}

.navigation {
  width: 100%;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: #b17334;
  max-width: 1000px;
}

/* Logo */
.evLogo__continer img {
  width: 250px;
  cursor: pointer;

}

/* Navigation links */
.nav__links {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 10px;
  font-weight: 500;
  list-style: none;

}
.nav__links a{
 
  color: #070000;
}

.nav__links a:hover {
  color: rgb(98, 48, 249);
  transition: 0.3s;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  color: orange;
}

.hamburger .bar {
  width: 20px;
  height: 8px;
  background-color: #333;
  border-radius: 2px;
}

/* ============================= */
/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    background: #b17334;
  }

  .evLogo__continer img {
    width: 200px;
    padding-left: 25px;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  .nav-link {
    font-size: 19px;
  }
  .nav__links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
    padding-right: 25px;
    font-size: 20px;
    color: orange;
  }
}
