.doc {
    background: #ffffff;
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .doc h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  .doc h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  
  .doc p {
    margin: 8px 0;
  }
  
  .label {
    font-weight: bold;
  }
  .labeled{
    color: green;
    font-style:oblique;
  }
  
  .inlineCode {
    font-family: monospace;
    background-color: #eef1f4;
    padding: 2px 6px;
    border-radius: 4px;
    color: #2f855a;
  }
  
  .doc ul {
    margin-left: 20px;
  }
  
  .doc li {
    margin-bottom: 6px;
  }
  
  pre {
    background-color: #f6f8fa;
    padding: 15px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 14px;
    color: #2f855a;
    margin-top: 10px;
    overflow-x: auto;
  }
  
  .statusOk {
    color: #2f855a;
    font-weight: bold;
  }
  
  .statusError {
    color: #c53030;
    font-weight: bold;
  }
  