/* Main Card */
.doc {
    background: linear-gradient(135deg, #ffffff, #f8fafc);
    max-width: 900px;
    margin: 50px auto;
    padding: 45px;
    border-radius: 18px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.08);
    font-family: "Inter", system-ui, sans-serif;
    line-height: 1.7;
  }
  
  /* Page Title */
  .doc h1 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
    background: #9b582f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Section Headings */
  .doc h2 {
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 10px;
    color:#9b582f;
    border-left: 5px solid #22c55e;
    padding-left: 12px;
  }
  
  /* Paragraphs */
  .doc p {
    margin: 10px 0;
    color: #1f1f1f;
  }
  
  /* Labels */
  .label {
    font-weight: 600;
    color: #0f172a;
  }
  
  /* Parameter Labels */
  .labeled {
    color:#ab9d56;
    font-style: italic;
    font-weight: 500;
  }
  
  /* Inline Code */
  .inlineCode {
    font-family: "Fira Code", monospace;
    background: #ecfdf5;
    padding: 4px 8px;
    border-radius: 6px;
    color: #047857;
    font-size: 14px;
    margin-left: 6px;
  }
  
  /* Lists */
  .doc ul {
    margin-left: 25px;
    margin-top: 10px;
  }
  
  .doc li {
    margin-bottom: 8px;
    color: #475569;
  }
  
  /* Code Blocks */
  pre {
    background: #e5e2e1;
    padding: 20px;
    border-radius: 14px;
    font-family: "Fira Code", monospace;
    font-size: 14px;
    color: #e5e7eb;
    margin-top: 15px;
    overflow-x: auto;
    box-shadow: #9b582f;
  }
  
  
  /* Status Colors */
  .statusOk {
    color: #16a34a;
    font-weight: 700;
  }
  
  .statusError {
    color: #dc2626;
    font-weight: 700;
  }
  
  /* Smooth Hover */
  .doc:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .doc {
      padding: 30px 20px;
    }
  
    .doc h1 {
      font-size: 26px;
    }
  
    .doc h2 {
      font-size: 20px;
    }
  }
  